<div class="container">
    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed" style="left:0px;">

        <a class="logo-wrapper waves-effect">
            <h2><strong>Printed Tshirt Designer</strong></h2>
        </a>

        <div class="list-group list-group-flush">
            <a href="/user/admin" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-chart-pie mr-3"></i>Dashboard
            </a>
            <a href="/user/admin/users" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-user mr-3"></i>Users
            </a>
            <a href="/user/admin/products" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-table mr-3"></i>Products
            </a>
            <a href="/user/admin/orders" class="list-group-item active list-group-item-action waves-effect" style="background-color : #00695C; color:white;">
                <i class="fa fa-dollar-sign mr-3"></i>Orders
            </a>
            <a href="/user/admin/clipart" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-icons mr-3"></i>Clipart
            </a>
            <a href="/user/admin/messages" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope mr-3"></i>Messages
            </a>
        </div>

    </div>
    <!-- Sidebar -->

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn" style="left:100px;">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="/user/admin" target="_blank" style="color : #00695C;">Admin Home Page</a>
                        <span>/</span>
                        <span>Orders</span>
                    </h4>

                </div>

            </div>
            <!-- Heading -->
            {{#each orders}}
            <div class="card text-center mb-4 mar-left ">
                <div class="card-body">
                    <div class="row d-flex justify-content-center">
                        <h5 class="col-md-12">Total Price : Rs. {{this.cart.totalPrice}}</h5>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <h5 class="col-md-12"> Name : {{this.fname}} {{this.lname}}</h5>
                        
                    </div>
                    <div class="row d-flex justify-content-center">
                       
                        <h5 class="col-md-12"> Phone Number : +91 {{this.pnum}}</h5>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <h5 class="col-md-12">Address : {{this.address}} {{this.address2}}</h5>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <h5 class="col-md-12">Payment Id : {{this.paymentId}}</h5>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <h5 class="col-md-12">Order Id : {{this._id}}</h5>
                    </div>
                    <div class="d-flex justify-content-center">


                        <table class="table table-responsive-sm ">
                            <thead class="table-dark">
                                <tr>
                                    <th>Product Image</th>
                                    <th>Product Title</th>
                                    <th>Product Qty</th>
                                    <th>Product Price</th>
                                    <th> Size </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each this.items}}
                                <tr>
                                    <td><img class="image-responsive" style="width: 50px; height:50px;"
                                            src="{{this.item.imagePath}}" /></td>
                                    <td>{{this.item.title}}</td>
                                    <td>{{this.qty}} units</td>
                                    <td> Rs. {{this.price}}</td>
                                    <td>{{this.size}}</td>
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            {{/each}}
        </div>
    </main>
</div>